{% load wagtailcore_tags %}

<style>
.block-video-center {
 display: grid;
 /* margin auto works here because embed adapts to size of container */
 margin: auto;
 overflow: hidden;
 font: italic 12px Georgia, serif;
}    
</style>





<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-4">
				</div>
                <div class="block-{{ self.block.block_type }}-{{ self.block.value.float }} block-{{ self.block.value.size }}">
                    {% include_block block.value.video %}
                    {{ block.value.caption }}
               </div>
				
				<div class="col-md-4">
				</div>
			</div>
		</div>
	</div>
</div>

