
{% extends "base.html" %}

{% load wagtailimages_tags wagtailcore_tags %}

{% block content %}

    <div class="container">
        <h1 style ="font-family:Arial, Helvetica, sans-serif;">Derniers Articles</h1>

                    
        
            </a>
        </ul>
       

        {% for post in posts %}
            <div class="row mt-5 mb-5">
                <div class="col-sm-3">
                    {% image post.banner_image fill-250x250 as img %}
                    <a href="{{ post.url }}">
                        <img src="{{ img.url }}" alt="{{ img.alt }}">
                    </a>
                </div>
                <div class="col-sm-9">
                    <a href="{{ post.url }}">
                        <h2 style="font-family:'Bree Serif', serif; color:rgb(60, 60, 60); text-decoration:none">{{ post.custom_title }}</h2>
                        {# @todo add a summary field to BlogDetailPage; make it a RichTextField with only Bold and Italic enabled. #}
                        <a href="{{ post.url }}" class="btn btn-primary mt-4">Read More</a>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}